<template data-name="setter-fields">
	<div class="setter-fields">
		<div class="col-xs-5">
			<div class="form-group">
				<label>Selector</label>
				<input type="text" class="form-control" name="setters[][selector]">
			</div>
		</div>
		<div class="col-xs-1">
			<div class="form-group">
				<label class="empty-label">&nbsp;</label>
				<button type="button" class="btn btn-info row-creation" data-toggle="tooltip" data-placement="top" title="Add selector" data-action="add" data-name="setter-fields">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
				</button>
				<button type="button" class="btn btn-warning row-creation" data-toggle="tooltip" data-placement="top" title="Remove selector" data-action="remove" data-name="setter-fields">
					<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
				</button>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="form-group">
				<label>Replacer</label>
				<textarea class="form-control allow-tab-indentation" name="setters[][replacer]"></textarea>
			</div>
		</div>
	</div>
</template>